<div class="page-header">
  <h1>Items</h1>
</div>


<ul class="nav nav-tabs justify-content-end">
  <li class="nav-item">
    <%= link_to (fa_icon 'list', :text => 'List'), items_path, :class => 'nav-link ' %>
  </li>
  <li class="nav-item">
    <%= link_to (fa_icon 'plus', :text => 'Add new Item'), new_item_path, :class => 'nav-link active' %>
  </li>
</ul>

<%= render 'form' %>
