<div class="tab-content">
  <div class="tab-pane fade <%= 'show active' if params.key?('q') %> p-3" id="search-bar">
    <form method="get">
      <div class="input-group">
        <input type="text" name="q" class="form-control" value="<%= params['q'] %>">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit"><%= fa_icon 'search' %></button>
        </div>
      </div>
    </form>
  </div>
</div>